set logging enabled off
set pagination off
set filename-display basename

handle SIGABRT stop
handle SIGSEGV stop
handle SIGBUS stop
handle SIGFPE stop

define dump
    stop
    bt
end

break _err
commands
    dump
end
break _bad
commands
    dump
end
#break _warn
#commands
#    dump
#end
break break_
commands
    dump
end
break __sanitizer::Die
commands
    dump
end
commands
    dump
end
